/* common  */
.clear {
	clear: both;
	height: 0;
	font-size: 0;
	margin: 0;
	padding: 0;
	line-height: 0;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.relative {
	position: relative;
}
.no-border {
	border: 0;
}
.display-none {
	display: none;
}
.padding-left-0 {
	padding-left: 0;
}
.margin-right-20 {
	margin-right: 20px;
}
.margin-left-20 {
	margin-left: 20px;
}
.margin-top-20 {
	margin-top: 20px;
}

/* alert */
.alert-close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
	text-decoration: none;
}
.alert-danger .alert-close {
	color: #58151c;
}
.alert + .menu-breadcrumb {
	top: -10px;
	margin-top: 30px;
}

/* tables */
.table-actions {
	text-align: right;
}
.table-last-no-border tr:last-child td{
	border-color: #fff;
}
.table-item-padding-top {
	padding-top: 4px;
}

/* buttons */
.item-icon {
	text-decoration: none;
}
.item-icon-left i {
	position: relative;
	top: 1px;
	margin-right: 5px;
}
.item-icon-right i {
	position: relative;
	top: 1px;
	margin-left: 5px;
}

/* forms */
.form-control.error {
	border-color: red;
}
.form-error {
	color: red;
}
.input-position {
	width: 50px;
	text-align: center;
}

/* layout */
.app-header {
	height: 3.5rem;
}
.app-content-header .button-item {
	width: 31px;
	height: 31px;
	line-height: 31px;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
}
.app-content-header .button-add {
	position: relative;
	top: 1px;
	left: 10px;
}
.app-content-header .button-list {
	position: relative;
	top: 1px;
	left: 10px;
	background-color: #ffffff;
	border: 1px solid #d2d2d2;
	color: #d2d2d2;
}
.app-content-header .button-list:hover {
	background-color: #d2d2d2;
	color: #ffffff;
}
.app-content-header .button-up-down {
	position: relative;
	top: 1px;
	left: 5px;
}
.app-content-header.no-padding-left-right {
	padding-left: 0;
	padding-right: 0;
}
.app-content .menu-path {
	position: relative;
	top: -10px;
}

.sidebar-brand .brand-text {
	font-size: 28px;
	color: #fff;
}
.sidebar-brand .brand-text span {
	color: #0d6efd;
}
.app-content .manage-table-header-border {
	font-weight: bold;
	padding: 10px 0;
	border-top: 1px solid #e0e0e0;
}
.app-content .manage-table-item {
	border-top: 1px solid #e0e0e0;
	padding: 10px 0;
}
.app-content .manage-table-item:first-child {
	border: 0;
}
.app-content .manage-table-item  .form-position {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 20px;
	width: 50px;
	text-align: center;
}
.app-content .manage-table-position {
	margin-right: 75px;
}
.configuration-header {
	font-weight: bold;
	border-top: 1px solid #dee2e6;
	padding-top: 10px;
	margin-bottom: 10px;
}
.card-body-slim-title {
	padding-bottom: 10px;
}
.card-body .nav-tabs {
	margin-bottom: 20px;
}
.menu-breadcrumb {
	position: relative;
	top: -10px;
}
.menu-breadcrumb a {
	text-decoration: none;
} 
.navbar-nav > .user-menu .user-image {
	margin-top: -5px !important;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	min-height: 145px;
}
.app-sidebar .brand-text {
	margin-left: 0;
}
.nav-menu-header {
	color: #babec8;
	margin: 20px 15px 0;
}
.nav-menu-header i {
	margin-right: 2px;
}
.nav-menu-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidebar-menu-tree-item {
	background-image: url("../images/menu-dot-level.png");
	background-position: top left;
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-left: 18px;
	color: #babec8;
	position: relative;
}
.sidebar-menu-tree-item .menu-parent i {
	color: #ffc107;
}
.sidebar-menu-tree-item .sidebar-menu-tree-item {
	margin-left: 5px;
}
.nav-menu-item-last {
	background-image: url("../images/menu-dot-level-last.png");
}
.nav-menu-item-plus {
	background-image: url("../images/menu-dot-level-plus.png");
}
.nav-menu-item-plus.expand {
	background-image: url("../images/menu-dot-level-plus-expand.png");
}
.nav-menu-item-plus.nav-menu-item-last {
	background-image: url("../images/menu-dot-level-plus-last.png");
}
.nav-menu-item-plus.nav-menu-item-last.expand {
	background-image: url("../images/menu-dot-level-plus-last-expand.png");
}
.sidebar-menu-tree-item a {
	text-decoration: none;
}
.sidebar-menu-tree-item a:hover,
.sidebar-menu-tree-item a.active{
	color: #fff;
}
.sidebar-menu-tree-item .menu-plus {
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 7px;
	left: -1px;
	opacity: 0.1;
}
.sidebar-admin-menu {
	border-top: 1px solid var(--bs-border-color);
    margin-left: -0.5rem;
    padding-left: 0.5rem;
    margin-right: -0.5rem;
    padding-right: 0.5rem;
}
.menu-breadcrumb {
	position: relative;
	top: -20px;
}

/* footer */
.app-footer {
	text-align: center;
}

.app-footer a {
	text-decoration: none;
	color: inherit;
}

.app-footer a:hover {
	color: black;
}



@media ( min-width : 992px) {
	.sidebar-expand-lg.layout-fixed .app-sidebar .sidebar-wrapper {
		height: calc(100vh - ( calc(7rem + 2px)));
	}
}


/* alert */
#alert-apla {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.5;
	display: none;
}
#alert-box {
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	margin-top: -110px;
	margin-left: -250px;
	width: 500px;
	height: 180px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	display: none;
}
#alert-box .header {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
#alert-box .body {
	position: relative;
	text-align: center;
	height: 60px;
	line-height: 50px;
}
#alert-box .footer {
	height: 70px;
	border-top: 1px solid #e0e0e0;
}
#alert-box .footer a {
	margin: 15px;
}

/* error page */
#error_page_404 {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	right: 0;
	text-align: center;
}
#error_page_404 .error_page_title { 
	font-size: 240px;
	line-height: 200px;
}
#error_page_404 .error_page_description span {
	border-top: 1px solid #cccccc;
	display: inline-block;
	padding-top: 10px;
}